* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    
}
body{
    /* background-color: black; */
    /* margin: 0; */
    margin: auto;
   overflow-x:hidden;
   
    
}

.main {
   
    height: 105vh;
    background-image: url("IN-en-20240115-trifectadaily-perspective_alpha_website_medium.jpg");
    width:100%;
    position: relative;
    background-position: center center;
    background-repeat: none;
    background-size: max(1700px, 100vw);
    padding-bottom: 3min;
   
}

.main .box {
    height: 100%;
    width: 100%;
    /* background-color: black; */
    /* background-image: repeating-linear-gradient(180deg ,black ,rgb(19, 19, 19)); */
    background-image:radial-gradient(rgba(27, 27, 27, 0.589) ,rgba(0, 0, 0, 0.767) ,rgba(0, 0, 0, 1));
    opacity: 0.80;
    position: absolute;
    top: 0;
    overflow-wrap: break-word;
    overflow-y: hidden;
}

nav {
    display: flex;
    /* background-color: brown; */

    justify-content: space-between;
    padding: 0px;
    align-items: center;

    position: relative;
    max-width: 80vw;
    height: 25vh;
    max-height: 97px;
    justify-items: center;
    z-index: 2;
    margin: auto;


}

nav image {
    height: 60px;
    width: 140px;

    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/df6621a3-890c-4ca0-b698-90bd5152f3d1/20a59be7-7062-4991-bca0-805e9a7f2716/IN-en-20240107-trifectadaily-perspective_alpha_website_small.jpg");
    z-index: 10;
    position: relative;
    background: none;
    background-color: none;
    margin-left: 60px;
    align-items: center;

}
.logo{
    height:39px;
}


.search {
    display: flex;
    justify-content: space-around;
    z-index: 2;
    background: none;
    /* margin-left: 50px;
    padding-right: 30px; */
    position: relative;
}

.search .button {
    border: 1px solid rgb(255, 1, 1);
    border-radius: 5px;
    background-color: red;
}

.b1 {
    height: 32px;
    width: 126px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 1vw;
    background: none;
    color: white;
    background-color: rgba(27, 27, 27, 0.6);
    opacity: .65;
    cursor: pointer;

}

.b2 {
    height: 32px;
    width: 77px;
    /* background-color: red; */
    background-color: #bb0000;
    margin-top: 1vw;
    /* border: 1px solid rgb(252, 251, 251); */
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
    margin-left: .5rem;
}
@media only screen and (orientation: portrait) {
    .main{
       max-height:70vh;
    }
    
}
@media only screen and (max-width: 490px){
    nav{
        max-width: 96vw;

    }
    nav image{
        /* height: 50px; */
        width: 120px;
    }
    .logo{
        width: min(30vh,30vw);
        min-width: 80px;
        padding-left: 2vw;
    }
    .email{
        
        flex-direction: column;
        /* padding-right: 2vw;
        padding-left: 2vw; */
    }
    .email :first-child {
        height: 50%;

    }
    .email :nth-child(2){
        height: 50%;
    }
    .b1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    width:55px;
    }
    .b1 :nth-child(2){
    overflow-x: clip;
    width: 0;
    }
    .b2{
        width: fit-content;
        padding: 4px;
    }
    #t1{
        font-size: max(5vmin,22px);
    }
    #t{
        font-size: max(3.5vmin,17px);
    }

}
@media only screen and (max-width: 230px){
    nav{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .search{
        flex-direction: column;
        padding-right: 2vw;
        padding-left: 2vw;
        margin-left: 0vw;
    }
    #t1{
        font-size: max(5vmin,19px);
    }
    #t{
        font-size: max(3.5vmin,13px);
    }
    .main{
        height:100vh;
    }
   
}
    


.text {
 

 

   height: 100%;
   font-size: x-large;
   font-weight: 500;
   /* z-index: 1; */
   /* position: relative; */
   color: rgb(253, 250, 250);
   /* background-color: blue; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   text-align: center;
   width: 100%;
   /* padding-inline-end: 4vw; */
   padding-left: 1vw;
   padding-right: 1vw;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;


}

.text1 {

    font-family: 'Poppins', sans-serif;
    font-size: max(5vmin,22px);
    font-weight: 800;
    /* margin: 2%;
     margin-left: 2%; */
    display: flex;
    align-items: center;
}

    
.text3{
    margin: 1%;
    font-size: max(3.5vmin,17px);
}

 .text4 {
    margin: 1%;
    font-size: max(3.5vmin,17px);
}

.email {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* height: 8%; */
    /* margin-bottom: 55px; */
    width: 100vw;
    margin-top: 1vh;
   


}

.email :first-child {

    height: 8vmin;
    /* padding: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.534);
    /* background-color: white; */
    background: none;
    box-sizing: border-box;
    padding-left: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    width: max(28% ,100px);
    align-items: center;
    /* background-color: black; */
    opacity: .66;
    border-radius: 5px;
    font-size:3.3vmin;
    font-weight: 400;
    /* color: white; */
    color: rgb(255, 255, 255);
    /* color: rgba(255, 255, 255, 0.7); */
    /* color: rgb(255, 255, 255); */
    background: rgba(22, 22, 22, 0.9);
    /* border-color: rgba(128, 128, 128, 0.7); */
}

.email :nth-child(2) {
    border: 1px solid rgb(229, 9, 20);
    border-radius: 6px;
    height: 8vmin;
    width: max(16% ,90px);
    background: rgb(229, 9, 20);
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-size: min(3.3vh,3.3vw);
    font-weight: 500;
    margin: 1%;
    cursor: pointer;

}

.searchbox {
    height: 43%;
    padding: 10px;
    border: 1px solid white;
    /* background-color: white; */
    background: none;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 35%;
    align-items: center;
    background-color: black;
    opacity: 0.6;
    border-radius: 5px;

}

.line1 {
    width: 100%;
    height: 1.5vh;
    background-color: rgba(0, 0, 0, 0.808);
}

.bpage {

    width: 100vw;
    /* position: relative; */
    display: flex;
    color: white;
    background-color: rgb(0, 0, 0);
    /* height: 78vh; */
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 12vmin;
    box-sizing: border-box;

}
@media only screen and (orientation: portrait) {
    .bpage{
      min-height: 50vh;
       flex-direction: column;
    }
}

.btext {

    color: white;
    /* font-size: x-large; */
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    /* justify-content: flex-end; */
    /* margin-left: 2vw; */
    /* padding-left: 5%; */
    max-width: 45vw;

}
@media only screen and (orientation: portrait) {
    .btext{
      
      max-width: 90vw;
      align-items: center;
      justify-content: center;
    }
}

.btext :first-child {
    font-family: sans-serif;
    font-size: max(5vmin,24px);
    font-weight: 800;
    margin: 20px;
}


.btext :nth-child(2) {
    font-family: sans-serif;
    font-size: max(3.3vmin,17px);
    margin: 20px;
}

.bimg {
    /* padding: 90px; */
    position: relative;
    /* width: 50vw; */
    /* padding: 90px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: min(11vh , 11vw); */
    /* margin-right: 14vw; */
    /* margin-left: 0; */
    
}
@media only screen and (orientation: portrait){
    #first_child{
        width:75vw;
        height: auto;
    }
    #second_child{
        width:57vw;
        height: auto;
    }
    
}

.bimg :nth-child(1) {
    position: relative;
    margin-left: 9px;
    z-index: 10;
    height: min(57vh , 45vw);
}

.bimg :nth-child(2) {
    position: absolute;
    /* margin: 99px; */
    /* height: 40vh; */
    /* height: 262px; */
    height: min(34vh , 26vw);
}

.line2 {
    width: 100%;
    height: 1.5vh;
    background-color: rgba(0, 0, 0, 0.808);

}

.cpage {
    display: flex;
    color: white;
    background-color: rgb(0, 0, 0);
    
    padding: 12vmin;
   box-sizing: border-box;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
@media only screen and (orientation: portrait){
    .cpage{
        flex-direction:column-reverse;
        min-height: 50vh;
    }
   .cpage #text_c{
        width:80vw;
        align-items: center;
    }
   
    #img_c{
        width:90%;
        height: auto;
    }
    .cimg{
        width:90vw;
    }
    
}

.ctext {
    color: white;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* margin: 10vw; */
    margin-left: 0;
    /* width: 50vw; */
    /* max-width: 50%; */
}

.ctext :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-size: max(5vmin,24px);
    font-weight: 800;
    margin-bottom: 20px;
}

.ctext :nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-size: max(3.3vmin,17px);
    font-weight: 500;
}

.cimg{
    
    margin-right: 0;
}

.cimg :nth-child(1) {
   
    position: relative;
    margin: auto;
    height: min(55vh , 45vw);

}


.line3 {
    width: 100%;
    height: 1.5vh;
    background-color: rgba(0, 0, 0, 0.808);

}



.dpage {
    display: flex;
    color: white;
    background-color: rgb(0, 0, 0);
    /* height: 78vh; */
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
   padding: 12vmin;
   box-sizing: border-box;

}
@media only screen and (orientation: portrait) {
    .dpage{
      /* max-height: 80vh; */
       flex-direction: column;
       min-height: 50vh;
    }
}

.dtext {
    color: white;
    font-size: x-large;
    font-weight: 500;
    /* width: 38vw; */
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* padding-left: 9vw; */
    max-width: 45%;

}
@media only screen and (orientation: portrait) {
    .dpage .dtext{
      
      max-width: 90vw;
      align-items: center;
      justify-content: center;
    }
   
}

.dtext :first-child {
    font-family: sans-serif;
    font-size: max(5vmin,24px);
    font-weight: 800;
    margin: 20px;
}

.dtext :nth-child(2) {
    font-family: sans-serif;
    font-size: max(3.5vmin,17px);
    margin: 20px;
}

.dimg {

    position: relative;
    /* width: 50vw; */
    /* padding: 90px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: min(15vh , 15vw); */
    margin-left: 0;
    /* margin-right: 10%; */
}

@media only screen and (orientation: portrait){
    #photo_d{
        width:75vw;
        height: auto;
    }
    #video_d{
        width:50vw;
        height: auto;
    }
    
}
.dimg :nth-child(1) {
    position: absolute;
    /* margin-bottom: 130px; */
    /* height: 221px; */
    height: min(27vh , 20vw);
    top: 4vh;
   
}
.dimg :nth-child(2) {
position: relative;
margin-left: 6px;
z-index: 1;
height: min(55vh , 40vw);
    
}

.line4 {
    width: 100%;
    height: 1.5vh;
    background-color: rgba(0, 0, 0, 0.808);

}

.epage {
    display: flex;
    color: white;
    background-color: rgb(0, 0, 0);
    
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   padding:12vmin;
   box-sizing: border-box;
}
@media only screen and (orientation: portrait){
    .epage{
        flex-direction:column-reverse;
        min-height: 50vh;
    }
   .epage #text_e{
        width:80vw;
        align-items: center;
    }

    #img_e{
        width:80%;
        height: auto;
        display: flex;
    }
    .eimg{
        width:90vw;
    }
    
}

.etext {
    color: white;
    font-size: x-large;
    font-weight: 500;
    position: relative;
    /* width: 50vw; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* max-width: 45%; */
}

.etext :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-size: max(5vmin,24px);
    font-weight: 800;
    margin-bottom: 20px;
}

.etext :nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-size: max(3.4vmin,17px);
    font-weight: 500;
}
/* 
.eimg {
    /* width: 50vw; */

 */

.eimg:first-child{
    position: relative;

    margin: auto;
    height: min(30vh,30vw);
}
.img_e{
    height: min(55vh,45vw);
    position: relative;

    margin: auto;
}

.line5 {
    width: 100%;
    height: 1.5vh;
    background-color: rgba(0, 0, 0, 0.808);

}

.fpage {
    /* height: 120vh; */

    background-color: black;
    color: white;
    padding-top: 25px;
    padding-bottom: 35px;
}


.end {
       /* height: 120px; */
       padding: min(2vh,2vw);
       /* padding-top: 30px; */
       font-family: sans-serif;
       /* font-size: 55px; */
       font-size: 3rem;
       font-size: min(7vh,6vw);
       font-weight: 900;
       /* font-weight: 800; */
       display: flex;
       align-items: center;
       justify-content: center;
       margin-bottom: min(3vh,3vw);

}

.boxes {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box1 {
    height: 10vmin;
    width: 74vw;
    /* background-color: rgb(135 134 134 / 84%); */
    background-color: rgb(45,45,45);
    padding: 5px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 5px;
    font-family: sans-serif;
    font-size: min(4vh,3vw);;
    font-weight: 500;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.box2 {
    width: 100vw;
    padding: 3vh;
    padding-top: 5px;
    font-family: sans-serif;
    font-size: min(4vh,3vw);
    font-weight: 500;
    display: flex;
    justify-content: center;
   box-sizing: border-box;
}

.email2 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: min(90px , 9vmin);
    /* padding-bottom: 60px; */
    box-sizing: border-box;
    position: relative;
    /* margin-bottom: 5vh; */


}

.email2 :first-child {

    height: 100%;
    /* padding: 17px; */
    border: 1px solid white;
    /* background-color: white; */
    background: none;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 28%;
    align-items: center;
    background-color: rgb(20, 20, 20);
    opacity: .9;
    border-radius: 5px;
    font-size: medium;
    font-weight: 600;
    color: white;
}

.email2 :nth-child(2) {
    border: 1px solid rgb(229, 9, 20);
    border-radius: 5px;
    height: 100%;
    background-color: rgb(229, 9, 20);
    /* padding: 12px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-size: x-large;
    font-weight: 500;
    margin-left: 1%;
    cursor: pointer;

}
@media only screen and (max-width: 490px){
    .email2 {
        flex-direction: column;
        height: 10vh;
    }
    .email2 :first-child {
        margin: 8px;
        width:80%;
    }
    .email2 :nth-child(2){
        width:70%;
    }
}
    .line6 {
        width: 100%;
        height: 1.5vh;
        background-color: rgba(0, 0, 0, 0.808);

    }

    .gpage {
        
        display: grid;
        background-color: black;
        color: white;
        padding: 10vmin;
        box-sizing: border-box;
        column-count: 4;
        padding-top: min(7vh , 7vw);
        grid-row: auto;
        padding-bottom: min(10vh , 10vw);
        width:100vw;
       
        /* justify-content: center; */
    }
    .question{
        display: flex;
        justify-content: start;
        font-family: sans-serif;
        /* font-size: x-large; */
        cursor: pointer;
        margin-top: 10px;
        /* margin-left: 5vw; */
        color: rgba(255,255,255,0.7);
        font-size:medium;
        font-weight: 500;
        grid-column: 1/5;
       
    }
    .call{
        text-decoration: underline;
        padding-left: 5px;
        cursor: pointer;
    }
    #call{
        text-decoration: none;
    }
    .query{
      
        display: grid;
        grid-template-columns: 1.2fr 1fr 1fr 1fr;
        
        justify-content: space-evenly;
        align-items: center;
        font-family: sans-serif;
        font-size:medium;
        margin-left: 5vw;
        font-weight: 500;
       
    
    }
    .faq{
        margin-top: 2vh;
        color: rgba(255,255,255,0.7);
        
        font-weight: 400;
        text-decoration: underline;
        cursor: pointer;
    }
    .india{
        /* margin-left: 5vw; */
        color: rgba(255,255,255,0.7);
        /* margin: auto; */
     
        font-weight: 400;
        grid-column: 1/2;
        
    }
    .button1 {
        height: 35px;
        width: 105px;
        border: 1px solid white;
        border-radius: 5px;
        margin-bottom: 2vw;
        /* background: none; */
        color: white;
        background-color: rgba(61, 61, 61, 0.329);
        opacity: .65;
        cursor: pointer;
        margin-top: 4vmin;
        grid-column: 1/2;
    
    }
    @media only screen and (max-width: 590px){
        #query{
            grid-template-columns: 1fr 1fr;
        }
    }
       


    
       